{% extends 'base.html' %}

{% load random_choice %}

{% block title %}All the GIFs{% endblock %}

{% block pagetitle %}GIFLord{% endblock %}
{% block subtitle %}
    {% any %}
        I Am The Lord Of The Gif
        Lord, Thankyou For These Gifs
        Live by The Sword, Gif by The Lord
        Look this Gif Lord In The Mouth
        Lord We Gif You Thanks
    {% endany %}
{% endblock %}

{% block content %}
    <p class="loading">Loading {{ count }} gifs...</p>
    {% for gif in gifs %}
        <a href="{{ gif.url }}" data-width="{{ gif.width }}" data-height="{{ gif.height }}">
            <img src="{{ gif.thumb_url }}" width="{{ gif.thumb_width }}" height="{{ gif.thumb_height }}"/>
        </a>
    {% endfor %}
{% endblock %}
